*,
html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'Repsol';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Repsol-Regular.woff2) format('woff2'), url(fonts/Repsol-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Repsol';
    font-style: normal;
    font-weight: 500;
    src: url(fonts/Repsol-SemiBold.woff2) format('woff2'), url(fonts/Repsol-SemiBold.woff) format('woff');
}

@font-face {
    font-family: 'Repsol';
    font-style: normal;
    font-weight: 700;
    src: url(fonts/Repsol-Bold.woff2) format('woff2'), url(fonts/Repsol-Bold.woff) format('woff');
}

body {
    font-family: 'Repsol', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #5a5a5a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
    width: min(600px, 100%);
    margin-inline: auto;

}


body {
    font-family: 'Repsol', Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #5a5a5a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: min(600px, 100%);
    margin-inline: auto;

}

img {
    font-size: .75rem;
    color: #5a5a5a;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    flex-wrap: wrap;
    gap: .75rem;
}

header img {
    justify-self: start;
    max-width: 150px;
}

header h3 {
    font-size: 1rem;
    color: #aaaaaa;
    /* justify-self: end; */
}

.header img {
    width: 100%;
    max-width: 600px;
    min-width: 340px;
    vertical-align: bottom;
}

.second-p p {
    line-height: 14px;
}

p {
    line-height: 14.4px;
}

span {
    line-height: 14.4px;
}

/* MAIN------------------ */


main {
    margin: 2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1.25rem;
}

.services {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

.first-p p {
    font-size: 12px;
    font-weight: 400;
}

.two-col p {
    font-size: 12px;
}

.precio {
    font-weight: 400;
    color: #aaaaaa;
    text-decoration: underline #00809a;
}

main h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    color: #ff8200;
    font-weight: bold;
}

main h2 {
    font-size: 1.25rem;
    line-height: 1.1;
    color: #ff8200;
    font-weight: bold;
    margin-bottom: .75rem;
}

main h3 {
    font-size: 0.9rem;
}

main span {
    color: #00809a;
    font-weight: bold;
}

.orange {
    color: #ff8200;
}

.second-p h3 {
    margin-bottom: 1rem;
}

.two-col-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.two-col {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}





/* PRE footer */

.pre-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.25rem 2rem;
    background: #ff8200;
}

.pre-footer p {
    text-align: left;
    color: #ffffff;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
.pre-footer span {
    font-weight: bold;
    color: #ffffff;
}

/* FOOTER */

footer {
    background: #f2f2f2;
    padding: 1.25rem 1rem 1.25rem 2rem;

    & p {
        font-size: .75rem;
        line-height: .9rem;

    }
}

.interli {
    line-height: 30px;
}


@media (max-width: 599px) {

    /* header,
    section.sub-header,
    .table-wrapper,
    footer {
        padding: 1rem 1rem;
    } */

    main {
        margin: 1rem;
    }


}